@model IEnumerable<FacturaPrueba.Models.Factura>

<h1>Facturas</h1>

<a asp-action="CrearFactura" class="btn btn-primary">Crear Nueva Factura</a>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var factura in Model)
        {
            <tr>
                <td>@factura.Cliente</td>
                <td>@factura.FechaFactura.ToShortDateString()</td>
                <td>@factura.Total</td>
                <td>
                    <a asp-action="Detalle" asp-route-id="@factura.IdFactura" class="btn btn-info">Ver Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

